@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


html, body {
    height: 100%;
    width: 100%;
    overflow: auto;
    scroll-behavior: smooth;
}

#main {
    position: relative;
    z-index: 10;
    overflow: hidden;
}


#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 2vw;
    background-color: #ffffff;
    margin-bottom: -1px;
}
.domains-headings{
    font-size: 9vw;
    padding-left: 1vw;
}

#page1 h1 {
    margin-top: 7vw;
    width: 90vw;
    font-size: 18vw;
    text-transform: uppercase;
    font-weight: 700;
    line-height: 14vw;
    letter-spacing: -1vw;
}

#about-content-area {
    display: flex;
    justify-content: space-between;
}

#about-directaccess-dropdown {
    background-color: #000000;
    color: white;
    /* font-family: 'Poppins', sans-serif; */
    font-size: 0.9vw;
    width: 15vw;
    padding: 0.7vw 1.5vw;
    border-radius: 20px;
    height: 3vw;
    cursor: pointer;
    z-index: 999;
    position: relative;
    transition: all 0.3s ease-in-out;
    text-transform: uppercase;
    display: flex;
    flex-direction: column;
    align-items: center;
    white-space: nowrap;
}

#about-directaccess-heading {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 12vw;
}

#about-directaccess-dropdown:hover {
    height: 13vw;
}
#about-directaccess-dropdown:hover #about-directaccess-links{
    pointer-events: auto;
}
#about-directaccess-dropdown:hover #dropdown-arrow {
    transform: rotate(-180deg);
    transition: transform 0.3s ease-in-out;
}

#about-directaccess-links {
    opacity: 0;
    pointer-events: none;
    transition: all 0.5s ease-in-out;
    margin-left: -4vw;
}

#about-directaccess-dropdown:hover #about-directaccess-links {
    opacity: 1;
    padding-top: 1.5vw;
    transition: transform 0.5s ease-in-out;
}

#dropdown-heading{
    font-size: 1.2vw;
    font-weight: 500;
    /* margin-bottom: 1vw; */
}

#about-directaccess-dropdown:hover #about-directaccess-links ul, li {
    display: flex;
    flex-direction: column;
    transition: transform 0.5s ease-in-out;
    font-weight: 200;
}
#about-directaccess-dropdown:hover #about-directaccess-links ul, li ::before{
content: 'o ';

}
 a {
    text-decoration: none;
    color: white;
}

#about-directaccess-dropdown:hover #about-directaccess-links li:hover {
    transform: translateX(1vw);
}



#aboutus-paragraph {
    width: 23vw;
    height: 30vh;
}

#aboutus-paragraph p {
    font-size: 0.9vw;
    text-align: justify;
    /* font-family: 'poppins'; */
}

#about-hero-image {
    position: relative;
    width: 47vw;
    height: 100vh;
    object-fit: cover;
    object-position: top;
    overflow: hidden;
    margin-top: -14vw;
    margin-bottom: 3vw;
  
}


#about-hero-image>img{
    position: relative;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

#page2 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    background-color: #ffffff;
    margin-bottom: -1px;

}

#page2 > img {
    width: 100vw;
    height: 110vh;
    object-fit: cover;
    object-position: center;

    /* filter: grayscale(50%); */
}



#page3 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 2vw 2vw;
    background-color: #ffffff;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    /* font-family: 'poppins'; */

}




#page3>#button1-content {
    display: flex;
    min-height: 150vh;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding: 2vw 1vw;
    border-bottom: solid thin rgb(105, 105, 105);
}

#page3>#button1-content>h3,
#page3>#button2-content>h3,
#page3>#button3-content>h3,
#page3>#button4-content>h3 {
    font-size: 7.5vw;
    display: flex;
    width: 100%;
    /* text-decoration: underline; */
}





#page3>#button1-content>p {
    font-size: 1.6vw;
    font-weight: 500;
    width: 47vw;
    text-align: left;
    margin-top: 5vw;
    margin-bottom: 3vw;

}

#page3>#button1-content>img {
    width: 72vw;
    margin-bottom: 2vw;
}

#page3>#button1-content>#button1-description {
    display: flex;
    flex-direction: row;
    gap: 1vw;
}

#page3>#button1-content>#button1-description>p {
    font-size: 0.95vw;
    width: 24vw;
    text-align: justify;
}

#page3>#button2-content {
    display: flex;
    min-height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding: 2vw 3vw;
    border-bottom: solid thin rgb(105, 105, 105);
    gap: 2vw;
}

#page3>#button2-content>p {
    width: 40vw;
    font-size: 1.4vw;
    font-weight: 500;
    text-align: left;
    margin-top: 10vw;

    margin-right: 5vw;
}
.animate1{
    transition: all 0.3s ease-in-out;
}
.animate1:hover{
    transform: translateX(-2vw);
    cursor: pointer;
}

#page3>#button2-content>#vission-content {
    width: 40vw;
    margin-right: 5vw;
    height: 18vw;
    background-color: #052510;
    color: white;
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw 2vw;
}


#page3>#button2-content>#vission-content>h5 {
    font-size: 2vw;
    font-weight: 600;
    text-transform: uppercase;

}

#page3>#button2-content>#vission-content>p {
    font-size: 1vw;
    font-weight: 500;

}

#page3>#button2-content>#mission-content {
    width: 40vw;
    margin-right: 5vw;
    height: 18vw;
    background-color: #a1d99b8d;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw 2vw;
    margin-top: -1.5vw;

}


#page3>#button2-content>#mission-content>h5 {
    font-size: 2vw;
    font-weight: 800;
    text-transform: uppercase;
}

#page3>#button2-content>#mission-content>p {
    font-size: 1vw;
    font-weight: 500;
}

#page3>#button2-content>#values-content {
    width: 40vw;
    margin-right: 5vw;
    height: 18vw;
    background-color: #a1d99b8d;
    color: rgb(0, 0, 0);
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 1vw 2vw;
    margin-top: -1.5vw;
    margin-bottom: 5vw;
}


#page3>#button2-content>#values-content>h5 {
    font-size: 2vw;
    font-weight: 800;
    text-transform: uppercase;
}

#page3>#button2-content>#values-content>p {
    font-size: 1vw;
    font-weight: 500;
    line-height: 1.2vw;
}

#page3>#button3-content {
    display: flex;
    min-height: auto;
    flex-direction: column;
    justify-content: center;
    align-items: flex-end;
    position: relative;
    padding: 2vw 1vw;
    border-bottom: solid thin rgb(105, 105, 105);
    gap: 2vw;
}

#page3>#button3-content>p {
    width: 45vw;
    font-size: 1.4vw;
    font-weight: 500;
    text-align: left;
    margin-top: 10vw;
    /* margin-right: vw; */
}

#page3>#button3-content>#team-imfo {
    width: 75vw;
    /* border: #000000 solid thin; */
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 5;
    min-height: 20vh;
    position: relative;
    height: auto;
    gap: 1vw;
}

#page3>#button3-content>#team-imfo>#team-info-card {
    display: flex;
    flex-direction: column;
    width: 23vw;
    height: 37vw;
    position: relative;
    /* background-color: #052510; */
}

#page3>#button3-content>#team-imfo>#team-info-card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    /* filter: grayscale(60%); */
    /* -webkit-filter: grayscale(60%); */
}

#page3>#button3-content>#team-imfo>#team-info-card>p {
    font-size: 0.9vw;
    font-weight: 300;
}

#page3>#button3-content>#team-imfo>#team-info-card>h6 {
    font-size: 1.1vw;
    font-weight: 600;
    margin-top: 1vw;
}

#page4{
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 2vw 2vw;
    background-color: #ffffff;
    font-size: 4vw;
    display: flex;
    flex-direction: column;
    /* font-family: 'poppins'; */
}




@media (max-width: 700px){

    
#page1 h1 {
    margin-top: 0;

    font-size: 30vw;
    line-height: 25vw;
}

#dropdown-heading{
    font-size: 4vw;
}

    #about-directaccess-links {
        font-size: 3.8vw;
    }
    #about-directaccess-heading {
        padding: 2vw 2vw;
        font-size: 4.5vw;
        width: 80%;
        justify-content: space-evenly;
        align-items: center;
       
    }
#about-directaccess-dropdown {
    margin-top: 3vw;
    font-size: 1.4vw;
    width: 65vw;
    height:12vw;
    border-radius: 25px;
}
#about-directaccess-dropdown:hover {
    height: 44vw;
}
    #about-content-area {
        gap:3vw;
        flex-direction: column;
        align-items: flex-end;
    }

    #aboutus-paragraph {
        width: 80vw;
        /* height: 30vh; */
    }
    
    #aboutus-paragraph p {
        font-size: 3.3vw;
        text-align: justify;
        /* font-family: 'poppins'; */
    }
    #about-hero-image{
        margin-top: 0;
        width: 90vw;
        height: 50vh;
        object-fit: cover;
        object-position: top;
    }
    #page2{
        min-height: 20vh;
    }

    #page2 > img {
        height: 30vh;
    }
    #page3>#button1-content,
    #page3>#button2-content {
        min-height: 10vh;
    }
    
/* #page3>#button1-content>h3,
#page3>#button2-content>h3,
#page3>#button3-content>h3,
#page3>#button4-content>h3 {
    margin-top: 10vw;
    margin-bottom: 4vw;
    width: 100%;
    display: flex;
    justify-content: left;
    color: #57ae5a;
    text-transform: uppercase;
} */


#page3>#button1-content>p {
    font-size: 4vw;
    font-weight: 500;
    width: 67vw;

    text-align: left ;
    margin-top: 5vw;
    margin-bottom: 3vw;
}

#page3>#button1-content>img {
    width: 90vw;
    margin-bottom: 2vw;
 
}
#page3>#button1-content>#button1-description{
    gap: 5vw;
    flex-direction: column;
}
#page3>#button1-content>#button1-description>p {
    font-size: 3.5vw;
    width: 88vw;
    text-align: justify;
}
#page3>#button2-content>h3  {   
    margin-top: 2vw;
    margin-bottom: 0;
}
#page3>#button2-content>p {
    
    margin-top: -10vw;
    font-size: 3vw;
    width: 70vw;
    text-align: justify;
}


#page3>#button2-content>#vission-content {
    width: 65vw;
    height:30vw;
    padding: 2vw 2vw;
}

#page3>#button2-content>#vission-content>h5 {
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;

}

#page3>#button2-content>#vission-content>p {
    font-size: 2vw;
    font-weight: 300;
}
#page3>#button2-content>#mission-content {
    width: 65vw;
    height:30vw;
    padding: 2vw 2vw;
}

#page3>#button2-content>#mission-content>h5 {
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;

}

#page3>#button2-content>#mission-content>p {
    font-size: 2vw;
    font-weight: 500;
    color: black;
}

#page3>#button2-content>#values-content {

    width: 65vw;
    height:30vw;
    padding: 2vw 2vw;
}

#page3>#button2-content>#values-content>h5 {
    font-size: 5vw;
    font-weight: 600;
    text-transform: uppercase;

}

#page3>#button2-content>#values-content>p {
    font-size: 2vw;
    font-weight: 500;
    color: black;
    line-height: 3vw;
}



#button3-content>h3{
    margin: 0;

}

#page3>#button3-content>p {
    width: 65vw;
    font-size: 3vw;
    margin-top: 0vw;
    margin-bottom: 5vw;
    text-align: justify;

}


#page3>#button3-content>#team-imfo {
    width: 90vw;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 5;
    min-height: 20vh;
    position: relative;
    height: auto;
    gap: 1vw;
}

#page3>#button3-content>#team-imfo>#team-info-card {
    display: flex;
    flex-direction: column;
    width:80vw;
    height: 110vw;
    position: relative;
    border-bottom: solid thin rgb(138, 138, 138);
    /* background-color: #052510; */
    margin-bottom: 10vw;
}

#page3>#button3-content>#team-imfo>#team-info-card>img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
    overflow: hidden;
    filter: grayscale(100%);
}

#page3>#button3-content>#team-imfo>#team-info-card>p {
    font-size: 3.2vw;
    font-weight: 300;
}

#page3>#button3-content>#team-imfo>#team-info-card>h6 {
    font-size: 5vw;
    font-weight: 500;
    margin-top: 1vw;
}


#page5{
    height: 45vh;
}
}