#languages-section {
    position: fixed;
    top: -100vh; /* Start completely off-screen at the top */
    left: 0;
    z-index: 999;
    width: 100vw;
    height: 100vh;
    background-color: #ffffff;
    padding: 3vw;
    transition: top 0.5s ease-out; /* Smooth transition */
}

#languages-section #closing{
    display: flex;
    justify-content: flex-end;
}

#languages-section #closing span{
    cursor: pointer;
}

#languages-section #languages{
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100%;
    width: 100%;
    padding: 0 10vw;
}

#languages-section #language{
    display: flex;
    flex-direction: column;
    margin-top: 3vw;
    width: 15vw;
    line-height: 4vw;
}

#languages-section #languages h1{
    font-size: 3vw;
}

#languages-section #language h2{
    font-size: 2vw;
    font-weight: 400;
    cursor: pointer;
    transition: all 0.3s ease-in-out;
}

#languages-section #language h2:hover{
    color: #79fd0e;
    transform: translate(5px,0);
}