@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap'); 

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    
}

html, body {
    height: 100%;
    width: 100%;
    font-family: 'poppins';
}

#main {
    position: relative;
    z-index: 10;
}

#page1 {
    min-height: 110vh;
    position: relative;
    width: 100%;
    padding: 0 2vw;
    background-color: #ffffff;
    margin-bottom: -1px;
    display: flex;
    flex-direction: column;
    /* justify-content: center; */
    align-items: center;
}

#page1>#login-container {
    width: 70vw;
    height: 80vh;
    position: relative;
    display: flex;
    align-items: center;
    border-radius: 20px;
    border: solid thin black;
    top: 3vw;
}

#page1>#login-container>#login-left-container,
#page1>#login-container>#login-right-container {
    width: 35vw;
    position: relative;
    height: 80vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#login-right-container>.content1{
    font-size: 2vw;
}

#page1>#login-container>#login-left-container {
    background-image: url("/images/24.jpeg ");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-color: aqua;
    border-radius: 20px;
    border: none;
    position: relative;
}

#page1 input {
    width: 17vw;
    height: 2.5vw;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0 2vw;
}

#page1 input::placeholder {
    color: #ffffffb7;
}

#page1 input:focus {
    outline: none;
    border: 2px solid #fff;
}

.form-group1,.form-group2{
    /* background-color: aqua;   */
    display: flex;
    flex-direction: column;
    gap: 0.8vw;
    
}

.form-group1,.form-group2 {
    font-size: 1.2vw;
    font-weight: 600;
}


.content4{
    background-color: transparent;
    font-weight: 300;
    padding: 0.5vw 3vw;
    /* margin-top: 1vw; */
    border-radius: 25px;
    border: solid thin black;
    transition: all 0.3s ease-in-out;
}

.content4:hover{
    background-color: black;
    /* border: transparent; */
    color: #fff;
    cursor: pointer;
}

.content5{
    font-size: 0.8vw;
    margin-top: 2vw;
    display: block;
    color: #4285F4;
    text-decoration: none;
}

.content5:hover{

    color: #1249a2; 
}


.content3{
    position: absolute;
    top: 4%;
    right: 8%;
    font-size: 0.8vw;
    text-decoration: none;
    color: #4285F4;
    padding: 0.4vw 2vw;
    border-radius: 25px;
    border: solid black thin;
}

#content3:hover{
    color: #1249a2; 

}


@media (max-width: 700px){
    #page1>#login-container {
            flex-direction: column;
            width: 95vw;
        height: 80vh;     
        justify-content: space-evenly;
        align-items: center;
    }
   
#page1>#login-container>#login-left-container,
#page1>#login-container>#login-right-container {
    width: 100%;
    position: relative;
    height: 50vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 2vw;
}

#page1 input {
    width: 47vw;
    height: 8vw;
    border-radius: 25px;
    border: none;
    background-color: black;
    color: white;
    font-family: 'Poppins', sans-serif;
    padding: 0 5vw;
}

.form-group1,.form-group2 {
    font-size: 4vw;
    font-weight: 500;
    
}

#login-right-container>.content1{
    font-size:7vw;
}

.content3{

    top: 8%;
    right: 4%;
    font-size: 2.4vw;
    text-decoration: none;
    color: #4285F4;
    padding: 0.5vw 3vw;
    border-radius: 25px;
    border: solid black thin;
}
.content5{
    font-size: 3vw;
    text-decoration: underline;
    margin-top: 4vw;
}

.content4{
    background-color: transparent;
    font-weight: 600;
    padding: 01vw 5vw;
    border-radius: 20px;
    border: solid thin black;
    transition: all 0.3s ease-in-out;
}

}