nav{
    padding: 2vw 2vw;
     width: 100%;
     display: flex;
     justify-content:  space-between;
     align-items: center;
     height: 16vh;
 }

 #nav-part2{
     display: flex;
     align-items: center;
     gap: 1vw;
 }
 #nav-part2 h4{
     padding:  0.8vw 1.5vw;
     border: 1px solid #1d1d1d6e;
     border-radius: 3vw;
     font-weight: 400;
     z-index: 999;
     position: relative;
     color: rgba(0, 0, 0, 0.778);
     font-size: 1.2vw;
     transition: all 0.5s ease-in-out;
     overflow: hidden;
     cursor: pointer;
 }
 
 #nav-part2 h4 a{
     color: #1d1d1db3;
     text-decoration: none;
     z-index: 999;
     position: relative;
     transition: all 0.5s ease-in-out;
 
 }
 #nav-part2 h4:hover a{
 
     color: aliceblue;
 
 }
 

 
 #nav-part2 h4 select:focus{
     outline: none;
 }
 #nav-part2 h4:after{
     content: "";
     position: absolute;
     height: 100%;
     width: 100%;
     background-color: rgb(29, 30, 29);
     left: 0;
     bottom: -100%;
     border-radius: 50%;
     transition: all 0.5s ease-in-out;
 }
 #nav-part2 h4:hover::after{
 bottom: 0;
     border-radius: 0px;
 }
 
#nav-part3 {
    background-color: black;
    width: 10%;
    height: 100vh;
    position: absolute;
    z-index: 9999;
    justify-content: center;
    align-items: center;
    color: white;
    display: flex;
    flex-direction: column;
    line-height: 8vw;
    font-size: 8vw;
    font-weight: 100;
    gap: 5vw;   
    right: -100vh;
    transition: all 0.7s ease-in-out;
    align-self: center;
}

#nav-part3 h5 {
    position: relative; /* Set the h5 position to relative for proper pseudo-element placement */
    cursor: pointer;
    text-transform: uppercase;
}

#nav-part3 h5::after {
    content: '';
    display: block; 
    background-color: rgb(31, 173, 234);
    width: 40%; 
    height: 1vw; 
    margin-top: 3px;
    position: absolute;
    bottom: -1vw; 
    left: 0%;
    transition: all 0.3s ease-in-out;
    border-radius: 20px;
}

#nav-part3 h5:hover::after {
    width: 100%; /* Expand the underline to full width on hover */
}

#nav-part3 h5 a{
    text-decoration: none;
    color: white;
}

#nav-img{
    width: 20vw; height: 5vw; 
}
#menu-icon, #nav-part3{
    display: none;
}
 

@media (max-width:1400px) {
    
    #nav-img{
        width:25vw;
        height: 40%;
    }
    #nav-part2 {
        display: none;
    }
    #menu-icon{
        display: block;
    }
    
}