@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Source+Code+Pro:ital,wght@0,200..900;1,200..900&family=Special+Elite&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Hind:wght@300;400;500;600;700&family=Tiro+Devanagari+Marathi:ital@0;1&display=swap'); 
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    /* font-family: 'poppins'; */
}


html, body {
    height: 100%;
    width: 100%;
    
}

#main {
    position: relative;
    z-index: 10;
    display: flex;
    flex-direction: column;
}

#page1 {
    min-height: 100vh;
    position: relative;
    width: 100%;
    padding: 0 2vw 2vw 2vw;
    background-color: #ffffff;
    margin-bottom: -1px;
}
#string2 {
    width: 100%;  /* Full width */
    height: 50vh;  /* Adjust height as needed */
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #ffffff;
}

svg {
    width: 90vw;  /* SVG scales with viewport width */
    height: 40vh; /* SVG scales with viewport height */
}

path {
    stroke: black;
    fill: transparent;
    stroke-width: 2;
}

.domains-main-hedding{
    font-size:6vw;
    font-weight: 400;
    line-height: 7vw;
    width: 90vw;
    /* background-color: aquamarine; */
    margin-top: 5vw;
    padding-left: 4vw;
}

.domain-short-info1{
    /* background-color: rgb(255, 146, 127); */
    width: 100%;
    padding: 1vw 2vw;
    min-height: 30vh;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-around;
    
}

.domain-short-info-left,
.domain-short-info-right{
    width: 40vw;
    
    /* background-color: blue; */
    min-height: 20vh;
}
.domain-short-info-left{
    border-top: #000 1px solid;
    display: flex;
    flex-direction: column;
    gap: 2vw;
}
.domain-short-info-left > p{
    font-size: 1.2vw;
    font-weight: 400;
    line-height: 2vw;
    margin-top: 1vw;

}

.domain-short-info-right img{
    width: 100%;
    height: 45vh;
    object-fit: cover;
    /* border-radius: 1vw; */

}
.tilted-smiley {
    display: inline-block;
    transform: rotate(18deg);
    /*Adjustthedegreeformoreorlesstilt*/font-size: 24px;
    /*Adjustsizeifneeded*/-webkit-transform: rotate(15deg);
    -moz-transform: rotate(18deg);
    -ms-transform: rotate(18deg);
    -o-transform: rotate(18deg);
    -webkit-transform: rotate(18deg);
}
.domain-short-info2{
    width: 100%;
    padding: 1vw 2vw;
    min-height: 30vh;
    margin-top: 2vw;
    margin-bottom: 2vw;
    display: flex;
    justify-content: space-around;
    align-items: flex-start;
}
.domain-sub-heading-sticky{
    position: -webkit-sticky;
    position: sticky !important;
    top: 0vw;
    background-color: #ffffff;
    width: 45vw;
    padding: 2vw 2vw 2vw 0;
    /* min-height: 40vh; */
    
}
.domain-sub-heading-sticky>h5{
    font-size: 5.5vw;
    font-weight: 200;
    line-height: 6vw;
    /* background-color: #377067; */
}
.domain-sticky-content{
    width: 45vw;
    display: flex;
    flex-direction: column;
    padding: 2vw 2vw 2vw 0;
    gap: 2vw;
    border-top: 1px solid rgb(172, 172, 172);
}

.domain-sticky-content > p{
    font-size: 1.35vw;
    font-weight: 300;
    line-height: 2vw;
    margin-top: 1vw;
    text-align: justify;
}
.domain-sticky-content>p>strong{
    font-size: 2.5vw;
    line-height: 3vw;
    font-weight: 600;
    color: #019e55;
}


#page3{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #ffffff;
    padding: 1vw;
}
.grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr); /* 8 columns */
    grid-auto-rows: auto;
    background-color: #fff;
    overflow: hidden;
}
img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.grid-item {
    grid-row: var(--r);
    grid-column: var(--c);
}
.custom-button {
    position: relative;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    padding: 1vw 2vw;
    font-size: 1.2vw;
    font-weight: 400;
    text-decoration: none;
    overflow: hidden;
    border: 1px solid black;
    color: black;
    transition: color 0.5s ease-in-out;
    z-index: 1; /* Ensure text stays on top */
}

.custom-button::before {
    content: "";
    position: absolute;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    background-color: black;
    transition: left 0.5s ease-in-out;
    z-index: -1; /* Place background behind text */
}

.custom-button:hover::before {
    left: 0;
}

.custom-button:hover {
    color: white; /* Text will now change to white */
}

.button-circles-animation {
    display: flex;
    align-items: center;
    margin-left: 10px;
    position: relative;
}

.button-circle-hover {
    position: absolute;
    opacity: 0;
    transform: translateY(5px);
    transition: all 0.3s ease-in-out;
    color: white;
    z-index: 99;
}

.custom-button:hover .button-circle-hover {
    opacity: 1;
    transform: translateY(0);
    transform: scale(1.1);
    
}

.custom-button:hover .button-circle {
    opacity: 0;
    transform: translateY(-5px);
  
}



.masonry {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(25vw, 1fr));
    grid-auto-rows: 10px;
    gap: 20px;
}

.item {
    background-color: #ffffff;
    /* padding: 20px; */
    box-sizing: border-box;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    border-radius: 0px;
    transition: transform 0.3s;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 1.2em;
    color: #fff;
    cursor: pointer;
}

.item:hover {
    transform: translateY(-5px);
}


.item1 { grid-row: span 17;  }
.item2 { grid-row: span 10; }
.item3 { grid-row: span 17; }
.item4 { grid-row: span 17; }
.item5 { grid-row: span 16; }
.item6 { grid-row: span 10; }
.item7 { grid-row: span 12; }
.item8 { grid-row: span 17; }
.item9 { grid-row: span 10; }
.item10 { grid-row: span 12; }
.item11 { grid-row: span 15;  }
.item12 { grid-row: span 17; }
.item13 { grid-row: span 18; }
.item14 { grid-row: span 10; }
.item15 { grid-row: span 10; }
.item16 { grid-row: span 17; }
.item17 { grid-row: span 14; }
.item18 { grid-row: span 15; }
.item19 { grid-row: span 13; }
.item20 { grid-row: span 16; }
.item21 { grid-row: span 17; }


#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: rgba(0, 0, 0, 0.8);
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    z-index: 9999;
}

#lightbox.active {
    opacity: 1;
    pointer-events: auto;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    border-radius: 5px;
 
    cursor: pointer;
}



@media (max-width: 768px){
    .grid{
        grid-template-columns: repeat(4, 1fr);
    }
  
    #page3>h1{
        width: 100%;
        font-size: 13vw;
    }
    .item {
        font-size: 1em;
    }
    .masonry {
        gap: 10px;
    }
    .item1 { grid-row: span 10;  }
    .item2 { grid-row: span 15; }
    .item3 { grid-row: span 13; }
    .item4 { grid-row: span 12; }
    .item5 { grid-row: span 19; }
    .item6 { grid-row: span 16; }
    .item7 { grid-row: span 12; }
    .item8 { grid-row: span 10; }
    .item9 { grid-row: span 17; }
    .item10 { grid-row: span 15; }
    .item11 { grid-row: span 11; }
    .item12 { grid-row: span 16; }
    .item13 { grid-row: span 14; }
    .item14 { grid-row: span 13; }
    .item15 { grid-row: span 10; }
    .item16 { grid-row: span 14; }
    .item17 { grid-row: span 14; }
    .item18 { grid-row: span 16; }
    .item19 { grid-row: span 15; }
    .item20 { grid-row: span 17; }
    .item21 { grid-row: span 16; }
    .item22 { grid-row: span 15; }
}


#lightbox {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    /* background: rgba(0, 0, 0, 0.8); */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    visibility: hidden;
    transition: opacity 0.3s ease-in-out;
}

#lightbox.active {
    opacity: 1;
    visibility: visible;
}

#lightbox img {
    max-width: 90%;
    max-height: 90%;
    object-fit: contain; 
    border-radius: 8px;
    /* box-shadow: 0 5px 15px rgba(255, 255, 255, 0.3); */
}




#page4{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #ffffff;
    padding: 3vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 4vw;
}

.domain-heading-division-mark{
    border-top: 2px solid black;
    /* padding: 2vw; */
    width: 95%;
    height: 25vh;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: -8vw;
}
.domain-heading-division-mark h5{
    font-size: 3vw;
    font-weight: 200;
    z-index: 2;
  
} 

#page6{
    width: 100%;
    min-height: 100vh;
    position: relative;
    background-color: #ffffff;
    /* margin-top: -vw; */
    padding: 0vw 2vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 4vw;
}

.domain-team-heading{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 4.3vw;
    font-weight: 200;
    line-height: 5vw;
    height: 30vh;
    border-bottom: 1px solid black;
    /* text-align: justify; */
}

#page7{
    width: 100%;
    min-height: 10vh;
    position: relative;
    background-color: #ffffff;
    /* margin-top: -vw; */
    /* padding: 0vw 2vw; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap : 1vw;
}
#page7>video{
    width: 100%;
    height: 100%;
}
.layer{
    position: absolute;
    z-index: 99;
    mix-blend-mode: multiply;
    background-color: #377067;
    inset: 0%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: white;
    gap: 0vw;

}
.layer> h4{
    width: 70vw;
    font-weight: 200;
    text-align: center;
    font-size: 4.5vw;
    line-height: 5vw;
}
.layer>p{

width: 70vw;
    font-weight: 400;
    text-align: center;
    font-size: 1.2vw;
    line-height: 5vw;
}